<h1>Plots Index Page</h1>

<ul>
  <% @plots.each do |plot| %>
    <li id="plot_<%= plot.id %>">Number of Plots: <%= plot.number %>
      <ul>
        <% plot.plants.each do |plant| %>
          <li id="plant_<%= plant.id %>">
            Plants: <%= plant.name %><br>
            <%= button_to "Remove Plant", plot_plant_path(plot.id, plant.id), method: :delete%>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>